.App{
  width: 80%;
  padding-top: 100px;
  padding-bottom: 100px;
  margin: auto;
  color: #fff;
}
h1{
  width: fit-content;
  padding: 10px;
  margin: auto;
  margin-bottom: 50px;
  border-bottom: 5px solid #fff;
  font-size: 2.2rem
}

@media only screen and (max-width: 600px) {
  .App{
    width: 100%;
  }
}